# NGINX
DOMAIN_NAME=csubires.42.fr

# MARIADB
MYSQL_HOST=mariadb
MYSQL_USER=wordpress_user
MYSQL_DATABASE=wordpress
MYSQL_PASSWORD=wordpress_user4242
MYSQL_ROOT_PASSWORD=wordpress_root4242

# WORDPRESS
WP_TITLE=Inception
WP_ADMIN_USR=webmaster
WP_ADMIN_PWD=webmaster4242
WP_ADMIN_EMAIL=webmaster@inception.com
WP_USR=csubires
WP_PWD=csubires4242
WP_EMAIL=csubires@inception.com